html {
    background-color: rgb(230, 230, 230);
}

body {
    max-width: 950px;
    margin: 0em auto;
    background-color: rgb(240, 240, 240);
    color: #444444;
    font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;  
    line-height: 1.8 em;
    box-shadow: 0px 0px 15px rgb(100, 100, 100);
}

header {
    padding-left: 5%;
    display: flex;
    background-color: rgb(250, 250, 250);
    border-bottom: 3px solid rgb(200, 200, 200);
}

header > a {
    margin-bottom: -3px;
    padding: 13px 10px;
    color: rgb(120, 120, 120);
    text-decoration: inherit;
    font-weight: bold;
    font-size: 1.3em;
}

header > a:hover {
    padding: 13px 10px 10px 10px;
    color: rgb(70, 70, 150);
    border-bottom: 3px solid rgb(70, 70, 150);
}

main {
    padding: 1em 5%;
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

h1 {
    width: 100%;
}

h2 {
    width: 80%;
}

#price {
    background-color: #444488;
    color: #eeeeee;
    padding: 0.5em;
    border-radius: 15px;
}

.viewer-large {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.viewer-large > img {
    margin: 3px;
}

.viewer-compact > img {
    width: 100px;
    height: 100px;
    margin: 3px;
    overflow: hidden;
}